<div class="card bg-transparent">
    <div class="card-title text-center text-white">
        <h1>Contador Papi</h1>
        <h2>{{contador}}</h2>
    </div>
    <div class="card-body">
        <div class="row text-center">
            <div class="col">
                <button (click)="incrementar()" class="btn btn-primary m-3">Incrementar +1</button>
                <button (click)="decrementar()" class="btn btn-info">Decrementar -1</button>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col">
                <app-hijo></app-hijo>
            </div>
        </div>
    </div>
</div>
